{% extends 'writer/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/froala-editor/2.7.2/css/froala_editor.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/froala-editor/2.7.2/css/froala_style.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/froala-editor/2.7.2/css/plugins/char_counter.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/froala-editor/2.7.2/css/plugins/colors.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/froala-editor/2.7.2/css/plugins/image.min.css" rel="stylesheet">
<style type="text/css">
  <!-- 隐藏froala提示 -->
  div.fr-wrapper > div:first-child[style*="z-index: 9999"]{display:none;}
</style>
{% endblock %}

{% block body %}
<div class="root">
  {% include "writer/account-menu.html" %}
  <nav class="z-depth-2">
    <div class="nav-wrapper blue-grey">
      <ul class="left hide-on-med-and-down">
        <li><a href="{% url "w.novel" n.pk %}"><i class="material-icons">arrow_back</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#"><i class="material-icons">view_module</i></a></li>
        <li><a class="dropdown-button" href="#" data-activates="menu-dropdown"><i class="material-icons right">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="input-field col s6">
        <input value="{{c.title}}" id="title" type="text" class="validate" style="font-size:30px;" required>
        <label class="active" for="title">{% trans "Title" %}</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{c.description}}" id="description" type="text" class="validate" style="font-size:14px;">
        <label class="active" for="description">{% trans "Description" %}</label>
      </div>
    </div>
    <textarea id="editor">
      {% autoescape off %}
      {{c.text}}
      {% endautoescape %}
    </textarea>
  </div>

  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large yellow darken-2 waves-effect waves-light">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a id="publish" class="btn-floating green waves-effect waves-light"><i class="material-icons">publish</i></a></li>
      <li><a id="restore" class="btn-floating blue waves-effect waves-light"><i class="material-icons">restore</i></a></li>
      <li><a id="delete" class="btn-floating red waves-effect waves-light"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>

</div>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/froala_editor.min.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/languages/zh_cn.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/plugins/font_size.min.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/plugins/colors.min.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/plugins/font_family.min.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/plugins/char_counter.min.js"></script>
<script src="//cdn.bootcss.com/froala-editor/2.7.0/js/plugins/image.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var editor = $('textarea#editor').froalaEditor({
      requestWithCORS: true,
      requestWithCredentials: true,
      imageUpload: true,
      imageUploadMethod: 'POST',
      imageUploadParam: '{{ image_field }}',
      imageUploadURL: '{% url "image-upload" %}',
      imageUploadParams: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
    });
    $('a#publish').click(function(e){
      e.preventDefault()
      var text=editor.froalaEditor('html.get');
      var title=$('input#title').val();
      var description=$('input#description').val();
      if(!title){
        Materialize.toast('{% trans "input title please" %}', 2000, 'rounded');
        return;
      }
      var data = {
        title: title,
        text: text,
        description: description,
      };
      $.post('{% url 'w.chapter' n.pk c.pk %}', data, function(data){
        {% if c.pk == "new" %}
        var url='{% url "w.chapter" n.pk "0000000" %}';
        url = url.replace('0000000', data.pk);
        window.location.replace(url);
        {% else %}
        Materialize.toast('{% trans "Publish Successfully" %}', 2000, 'rounded');
        {% endif %}
      });
    });
    $('a#restore').click(function(e){
      e.preventDefault()
      $.get('{% url 'chapter' n.pk c.pk %}?type=raw', function(data){
        editor.froalaEditor('html.set', data.text);
        $('input#title').val(data.title);
        $('input#description').val(data.description);
      });
    });
    $('a#delete').click(function(e){
      e.preventDefault();
      {% if c.pk == 0 %}
      window.location.replace('{% url "w.novel" n.pk %}');
      {% else %}
      $.delete('{% url 'w.chapter' n.pk c.pk %}', function(data){
        window.location.replace('{% url "w.novel" n.pk %}');
      });
      {% endif %}
    });
  });
</script>
{% endblock %}
