div.root {
  text-align: center;
  /*padding-top: 64px;*/
}

div.root > * {
  text-align: left;
}

div.root > div.content {
  margin-bottom: 80px;
  margin-top: 35px;
}

div.root > div.content > h5.title {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
}

div.root > div.content > article.article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: default;
}

