div.root {
  text-align: center;
  /*padding-top: 64px;*/
}

div.root > * {
  text-align: left;
}

div.root > div.content {
  margin-bottom: 40px;
  margin-top: 35px;
}

div.root > div.content > h5.title {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
}

div.root > div.content > article.article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 10px;
}

div.root > div.footer {
  width: 100%;
  height: 44px;
}

div.root > div.footer > a {
  width: 50%;
  height: 44px;
  line-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  color: black;
  cursor: pointer;
}

div.root > div.footer > a.previous {
  background-color: #78909c;
  float: left;
}

div.root > div.footer > a.next {
  text-align: right;
  background-color: #546e7a;
  float: right;
}
