{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static "css/chapter.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="root">

  <nav class="z-depth-2">
    <div class="nav-wrapper blue-grey">
      <a class="brand-logo center unselectable" href="/">{{n.name}}</a>
      <ul id="nav-mobile" class="left">
        <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="side-nav">
    {% for c in chapters %}
    <li><a class="waves-effect" href="{% url "chapter" n.pk c.pk %}">{{ c.title }}</a></li>
    {% endfor %}
  </ul>
  <div class="content container">
    <h5 class="title">{{ c.title }}</h5>
    <article class="article z-depth-4 unselectable">
      {% autoescape off %}
      {{ c.text }}
      {% endautoescape %}
    </article>
    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large blue-grey darken-2">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        {% if pc %}
        <li class="waves-effect waves-light"><a class="link" href="{% url "chapter" n.pk pc.pk %}"><i class="material-icons left">navigate_before</i>{{ pc.title }}</a></li>
        {% else %}
        <li class="waves-effect waves-light"><a><i class="material-icons">not_interested</i></a></li>
        {% endif %}
        <li class="waves-effect waves-light"><a class="menu"><i class="material-icons">menu</i></a></li>
        <li class="waves-effect waves-light"><a class="comment modal-trigger" href="#comment-modal"><i class="material-icons">comment</i></a></li>
        <li class="waves-effect waves-light"><a class="top"><i class="material-icons">vertical_align_top</i></a></li>
        {% if nc %}
        <li class="waves-effect waves-light"><a class="link" href="{% url "chapter" n.pk nc.pk %}"><i class="material-icons right">navigate_next</i>{{ nc.title }}</a></li>
        {% else %}
        <li class="waves-effect waves-light"><a><i class="material-icons">not_interested</i></a></li>
        {% endif %}
      </ul>
    </div>
    <div id="comment-modal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>{% trans "Comment" %}</h4>
        <div class="cards">
          {% for cc in comments %}
          <div class="card">
            <span class="badge cyan black-text">{{ cc.nickname }}</span>
            <p class="content">{{ cc.content|linebreaks }}</p>
          </div>
          {% endfor %}
        </div>
        {% if not comments %}
          <h5 class="no-comments">{% trans "No Comment" %}</h5>
        {% endif %}

        <div class="row add-comment">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_box</i>
            <input id="comment-nick" type="text" class="validate">
            <label for="comment-nick">Nickname</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <textarea id="comment-textarea" class="materialize-textarea"></textarea>
            <label for="comment-textarea">{% trans "Comment" %}</label>
          </div>
          <div class="col s12">
            <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">{% trans "Submit" %}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
    $('.button-collapse').sideNav({closeOnClick: true});
    $('ul#slide-out li > a').click(function(e){
      e.preventDefault();
      var href = $(this).attr('href');
      setTimeout(function(){
          window.location = href;
      }, 300);
    });
    $('div.toolbar > ul a.link').click(function(e){
      e.preventDefault();
      $('.fixed-action-btn.toolbar').closeToolbar();
      var href = $(this).attr('href');
      setTimeout(function(){
          window.location = href;
      }, 400);
    });
    $('div.toolbar > ul a.menu').click(function(e){
      e.preventDefault();
      $('.button-collapse').sideNav('show');
    });
    $('div.toolbar > ul a.top').click(function(e){
      e.preventDefault();
      $('html,body').animate({scrollTop:0},'normal');
    });
    $('div#comment-modal button#submit').click(function(e){
      e.preventDefault();
      var nickname = $('input#comment-nick').val();
      var content = $('textarea#comment-textarea').val();
      if(!content){
        return;
      }
      var submit=$(this);
      submit.addClass('disabled');
      var params = {
        nickname: nickname,
        content: content,
      };
      $.post('{% url "chapter.comment" n.pk c.pk %}', params, function(resp){
        submit.removeClass('disabled');
        if(resp.retcode!=0){
          return;
        }
        $('textarea#comment-textarea').val('');
        var data = resp.data;
        var nickname = $('<div/>').text(data.nickname).html();
        var content = $('<div/>').text(data.content).html().replace('\n', '<br>');
        $('h5.no-comments').remove();
        var e = $(`<div class="card">
          <span class="badge cyan black-text">`+nickname+`</span>
          <p class="content">` +content+ `</p>
        </div>`);
        e.hide();
        $('div#comment-modal div.cards').append(e);
        e.fadeIn(500);
      }, function(){
        submit.removeClass('disabled');
      });
    });
  });
</script>
{% endblock %}
