{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="root" style="background:url('{% static "img/rain_forest.jpg" %}')">
  <nav><div class="glass"/></nav>
  {% if n %}
  <div class="enter-wrapper"><a class="enter-button" href="{% url 'novel' n.pk %}">{% trans "Enter" %}</a></div>
  {% endif %}
</div>
<audio src="{% static "media/0.m4a" %}" loop="true" autoplay="true"></audio>
{% endblock %}
