{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link href="{% static "css/novel.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% trans "Previous Chapter" as previous_chapter %}
{% trans "Next Chapter" as next_chapter %}
<div class="root">
  <!-- <div class="navbar-fixed"> -->
  <nav class="z-depth-2">
    <div class="nav-wrapper blue-grey">
      <a class="brand-logo center unselectable" href="/">{{n.name}}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- </div> -->
  <ul id="slide-out" class="side-nav">
    {% for c in chapters %}
    <li><a class="waves-effect" href="{% url "chapter" n.pk c.seq %}">{{ c.fullname }}</a></li>
    {% endfor %}
  </ul>
  <div class="content">
    <h5 class="title">{{ c.seq_name }} {{ c.title }}</h5>
    <article class="article z-depth-3">
      {% autoescape off %}
      {{ c.text }}
      {% endautoescape %}
    </article>
  </div>

  <div class="footer z-depth-1 indigo lighten-5">
    {% if pc %}<a class="previous waves-effect waves-light" href="{% url "chapter" n.pk pc.seq %}">{{ previous_chapter }} {{ pc.title }}</a>{% endif %}
    {% if nc %}<a class="next waves-effect waves-light" href="{% url "chapter" n.pk nc.seq %}">{{ next_chapter }} {{ nc.title }}</a>{% endif %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.button-collapse').sideNav({
      closeOnClick: true,
    });
    $('ul#slide-out li > a').click(function(e){
      e.preventDefault();
      var href = $(this).attr('href');
      setTimeout(function(){
          window.location = href;
      }, 300);
    });
    $('div.footer > a').click(function(e){
      e.preventDefault();
      var href = $(this).attr('href');
      setTimeout(function(){
          window.location = href;
      }, 300);
    });
  });
</script>
{% endblock %}
